/* Import Ginto font */
@font-face {
  font-family: 'Ginto';
  src: url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-Regular.woff2') format('woff2'),
       url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ginto';
  src: url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-Bold.woff2') format('woff2'),
       url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ginto';
  src: url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-Italic.woff2') format('woff2'),
       url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ginto';
  src: url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-BoldItalic.woff2') format('woff2'),
       url('https://github.com/vawwies/nyannekosugargirls/raw/main/ginto/Ginto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* Apply Ginto font to Discord */
body, .message {
  font-family: 'Ginto', sans-serif !important;
}
